$family-sans: Inter;
$family-mono: Menlo;
$leading-4: 16px;
$leading-6: 24px;
$leading-7: 28px;
$leading-9: 36px;
$size-xs: 12px;
$size-base: 16px;
$tracking-normal: 0px;
$tracking-wider: 0.8px;
$weight-bold: 700px;
$weight-normal: 400px;
