$family-sans: Inter;
$family-mono: Menlo;
$leading-4: 16;
$leading-6: 24;
$leading-7: 28;
$leading-9: 36;
$size-xs: 12;
$size-base: 16;
$tracking-normal: 0;
$tracking-wider: 0.8;
$weight-bold: 700;
$weight-normal: 400;
