$s-0: 0px;
$s-5: 5px;
$s-10: 10px;
$s-15: 15px;
$s-20: 20px;
$s-25: 25px;
$s-30: 30px;
$s-35: 35px;
$s-40: 40px;
$s-45: 45px;
$s-50: 50px;
$s-55: 55px;
$s-60: 60px;
$s-65: 65px;
$s-70: 70px;
$s-75: 75px;
$s-80: 80px;
$s-85: 85px;
$s-90: 90px;
$s-95: 95px;
$s-100: 100px;
