$s-0: 100000;
$s-5: 5;
$s-10: 10;
$s-15: 15;
$s-20: 20;
$s-25: 25;
$s-30: 30;
$s-35: 35;
$s-40: 40;
$s-45: 45;
$s-50: 50;
$s-55: 55;
$s-60: 60;
$s-65: 65;
$s-70: 70;
$s-75: 75;
$s-80: 80;
$s-85: 85;
$s-90: 90;
$s-95: 95;
$s-100: 100;
