$s-1: 4px;
$s-2: 8px;
$s-3: 12px;
$s-4: 16px;
$s-5: 20px;
$s-6: 24px;
$s-7: 28px;
$s-8: 32px;
$s-9: 36px;
$s-10: 40px;
$s-11: 44px;
$s-12: 48px;
$s-14: 56px;
$s-16: 64px;
$s-20: 80px;
$s-24: 96px;
$s-28: 112px;
$s-32: 128px;
$s-36: 144px;
$s-40: 160px;
$s-44: 176px;
$s-48: 192px;
$s-52: 208px;
$s-56: 224px;
$s-60: 240px;
$s-64: 256px;
$s-72: 288px;
$s-80: 320px;
$s-96: 384px;
$s-1-5: 6px;
$s-3-5: 14px;
$px: 1px;
$s-2-5: 10px;
$s-0-5: 2px;
