$s-1: 4;
$s-2: 8;
$s-3: 12;
$s-4: 16;
$s-5: 20;
$s-6: 24;
$s-7: 28;
$s-8: 32;
$s-9: 36;
$s-10: 40;
$s-11: 44;
$s-12: 48;
$s-14: 56;
$s-16: 64;
$s-20: 80;
$s-24: 96;
$s-28: 112;
$s-32: 128;
$s-36: 144;
$s-40: 160;
$s-44: 176;
$s-48: 192;
$s-52: 208;
$s-56: 224;
$s-60: 240;
$s-64: 256;
$s-72: 288;
$s-80: 320;
$s-96: 384;
$s-1-5: 6;
$s-3-5: 14;
$px: 1;
$s-2-5: 10;
$s-0-5: 2;
