$default-test-base-size: 1rem;
$default-test-base-size-lg: 1.5rem;
$default-test-base-size-md: 1.25rem;
$default-test-base-size-ms: 1rem;
$default-test-base-size-sm: 0.75rem;
$default-test-base-size-xl: 2rem;
$default-test-base-size-xs: 0.5rem;
$default-test-base-size-xxl: 3rem;
$default-test-height-control-height: 2rem;
$default-test-height-control-height-lg: 2.5rem;
$default-test-height-control-height-sm: 1.5rem;
$default-test-height-control-height-xs: 1rem;
$default-test-line-width-line-width: 0.063rem;
$default-test-line-width-line-width-bold: 0.125rem;
$default-test-line-width-line-width-focus: 0.25rem;
$default-test-line-width-control-outline-width: 0.125rem;
