$size: 12px;
$sizeLG: 1.5px;
$sizeMD: 1.25rem;
$sizeMS: 1rem;
$sizeSM: 0.75rem;
$sizeXL: 2rem;
$sizeXS: 0.5rem;
$sizeXXL: 3rem;
$controlHeight: 2rem;
$controlHeightLG: 2.5rem;
$controlHeightSM: 1.5rem;
$controlHeightXS: 1rem;
$lineWidth: 62.5rem;
$lineWidthBold: 0.125rem;
$lineWidthFocus: 0.25rem;
$controlOutlineWidth: 0.125rem;
