// Автоматически сгенерированные стили для Button
@import "../../styles/generated/_spacing.scss";
@import "../../styles/generated/_radius.scss";

.button {
  display: inline-flex;
  box-sizing: border-box;
  
  /* Отступы (заменили button на comp) */
  padding-top: $px;
  padding-right: $s-3-5;
  padding-bottom: $px;
  padding-left: $s-3-5;
  
  /* Расстояние между элементами */
  gap: $s-2;

  /* Скругления */
  border-radius: 0px;
}