// Автоматически сгенерированные стили для Unchecked Radio
@import "../../styles/generated/_spacing.scss";
@import "../../styles/generated/_radius.scss";

.uncheckedradio {
  display: inline-flex;
  box-sizing: border-box;
  
  /* Отступы (заменили button на comp) */
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  
  /* Расстояние между элементами */
  gap: $s-2;

  /* Скругления */
  border-radius: 0px;
}